# IntelliJ build output
out/
*.class

# IntelliJ personal/workspace settings
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/tasks.xml
.idea/dictionaries/

# OS files
.DS_Store
Thumbs.db